@color:#3296fa;
// 顶部通栏
.van-nav-bar{
  background: @color;
}
.van-nav-bar .van-icon,
.van-nav-bar__text,
.van-nav-bar__title{
  color: #fff;
}
.van-nav-bar__text {
  font-size: 12px;
  &:active {
    background: #3296fa;
  }
}
// 底部页签
.van-tabbar{
  background: #f5f5f5;
}
.van-tabbar-item--active{
  color: @color;
}
// 频道页签
.van-tab{
  line-height: 32px;
  font-size: 12px;
}
.van-tabs--line .van-tabs__wrap{
  height: 32px;
}
.van-tabs__line{
  background-color: @color;
  height: 2px;
}
// 全局样式
#app{
  font-size: 12px;
}
h3{
  margin: 0;
  padding: 0;
}
pre{
  white-space: pre-wrap;
}
